<div class="container">
    <main>
        <section class="about">
            <section class="work-experience">
                <h2 style="color: #024b1f;">
                    Work Experience
                </h2>
                <ul>
                    <li>
                        <h3> <i class="glyphicon glyphicon-user"></i>Content Editor</h3>
                        <h4>Harper and Partners Inc.</h4>
                        <p>March 2022 to Present</p>
                        <ul>
                            <li>Achieved a 30% increase in social media followers by developing a strong content
                                strategy
                                that lead to a 5% growth in sales within six months.</li>
                            <li>Boosted clients' brand recognition by 50% by developing new ideas and fresh content
                                marketing strategies.</li>
                            <li>Increased our client base by 50% by seeking opportunities for partnership with
                                advertisers.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h3><i class="glyphicon glyphicon-user"></i> Senior Copywriter</h3>
                        <h4>Schuester Digital Media Group</h4>
                        <p>November 2020 to January 2022</p>
                        <ul>
                            <li>Boosted our monthly output by 80% by creating daily articles, story ideas, and
                                social
                                media
                                posts.</li>
                            <li>Improved the team's copy by 10% by identifying gaps in existing online content
                                and
                                collaborating with editors during research.</li>
                            <li>Produced online content and marketing copy by leading a team of writers and
                                editors to
                                promote the products and services of key clients.</li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section class="skills">
                <h2 style="color: #024b1f;">Relevant Skills</h2>
                <ul>
                    <li>Search Engine Optimization (SEO)</li>
                    <li>Digital Marketing</li>
                    <li>Web Content Writing</li>
                </ul>
            </section>
    </main>
</div>