<form method="post" action="//store">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="name">name </label>
        <input type="text" class="form-control" name="name" placeholder="Enter name">

    </div>
    <div class="form-group">
        <label for="skill_want_to_learn">skill want to learn</label>
        <input type="text" class="form-control" name="skill_want_to_learn" id="exampleInputPassword1"
            placeholder="skill want to learn">
    </div>

    <button type="submit" class="btn btn-primary">Them ho so</button>
</form>